body{
  width: 100%;
  height: 100%;
}
.container{
  width: 80%;
  margin: 0 auto;
  color: #fff;
  margin-top: 8%;
  position: relative;
}
.bgMainImage{
  background-image: url('../img/background_flat.jpg');
   background-repeat: repeat;
   background-attachment: fixed;
   background-position: center;
}

 .mainTitle{
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 6px;
  width: 100%;
  text-align: center;
  color: #fff;
 }
 .underTitle {
  width: 80%;
  text-align: center;
  padding-top: 0%;
  font-size: large;
  left: 10%;
  margin-left: 10%;
  color: #fff;
  margin-right: 10%;
 }
.bannerText {
    top: 15%;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    zoom: 1;
    height: 5%;
}
.createLabel{
  font-size: 20px;
}
.mainForm{
  display: inline-block;
  width: 90%;
  left: 5%;
  padding: 0;
  margin-top: 9%;
  margin-left: 0;
}

.createBtn{
  width: 44%;
  left: 28%;
  right: 28%;
  position: absolute;
  height: 47px;
}
.addChoice{
    position: absolute;
    height: 47px;
    width: 48px;
    right: 17%;
}
.removeChoice{
  position: absolute;
  height: 47px;
  width: 48px;
  left: 17%;
}
.titreSondage{
   text-transform:uppercase;
   width: 100% ;
   max-width: 100% ;
}
.menu .item{
  padding: 16px;
}
.input-label{
  font-size: 27px;
}
.item .item-content{
  text-align: center;
  padding: 0;
  margin: 0;
}
.creationInput{
  font-size: 20px !important;
}
.btnCreateSurvey, .btnAccessSurvey{
  background-color: #F4F4F4;
  border: 1px solid rgba(255, 255, 255, 0.59) ;
  padding: 6px;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  text-transform: uppercase;
  margin-top: 5px ;
  font-size: 20px;
  font-weight: 500;
  width: 45% ;
  height: 20%;
  background: #233B55 ;
  color: #fff;
  position: absolute;
    line-height: 34px;
}
.creationSuite .itemChoice {
    width: 500px;
    height: 37px;
    text-align: center;
    color: black;
    font-size: 21px;
}
button:hover{
  letter-spacing: 2px;
  border: 5px solid rgba(255,255,255, 0.5);
}


.btnCreateSurvey {

  left: 4%;
  float: left;
}
.btnCreateCenter{
  width: 70%;
  right: 15%;
  left: 15%;
    margin-top: -15px;
}
.btnCreateCenter i{
  float:right;
}
.btnAccessSurvey {
  float: right;
  right: 4%;
}
.btnContainer{
  margin-top: 15%;
}
.menuSubText{
  font-size: 50px;
}
.listInput{
  margin-top:5%;
  margin-bottom: 10px;
}
.listInput a {
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0% 8%;
    border: 1px solid #8AC;
    width: 80%;
    left: 10%;
    right: 10%;
}
.listInput a h2{
  font-family: 'Josefin Sans', sans-serif;
    font-size: 27px ;
    font-weight: bold;
    width: 100%;
    height: 34px;
    text-align: center;
}
  .menuSubText{
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    padding: 5px;
    top: 40px;
  }
   .bar .title {
     font-size: 41px ;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 11px;
    width: 100%;
    text-align: center ;
    color: #727272 ;
    left: 16px ;
    right: 0 ;
    top: -2px;
   }
   .underTitle {
      width: 80%;
      text-align: center;
      padding-top: 0%;
      font-size: large;
      left: 10%;
      margin-left: 10%;
      margin-right: 10%;
   }
  .mainForm{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin-left:-5%;
    margin-top: -1%;
  }
  .choiceContainer
  {

    overflow-y: scroll;
  }



  /* Use a wide full screen for small screens like tablets. */
  @media (min-width: 768px) and (max-width:992px) {
      .container {
  		width: initial;
          padding-left: 2em;
          padding-right: 2em;
  	}
  }

  /* --- Plans ---------------------------- */

  .my_planHeader {
      text-align: center;
      color: white;
      padding-top:0.2em;
      padding-bottom:0.2em;
  }
  .my_planTitle {
      font-size:2em;
      font-weight: bold;
  }
  .my_planPrice {
      font-size:1.4em;
      font-weight: bold;
  }
  .my_planDuration {
      margin-top: -0.6em;
  }

  @media (max-width: 768px) {
      .my_planTitle {
          font-size:small;
      }
  }

  /* --- Features ------------------------- */

  .my_feature {
      line-height:2.8em;
  }

  @media (max-width: 768px) {
      .my_feature {
          text-align: center
      }
   }

  .my_featureRow {
      margin-top: 0.2em;
      margin-bottom: 0.2em;
      border: 0.1em solid rgb(163, 163, 163);
  }

  /* --- Plan 1 --------------------------- */
  .my_plan1 {
      background: rgb(224,234,242);
  }

  .my_planHeader.my_plan1 a {
      background: rgb(72, 109, 139);
      color:white;
  }

  .my_planHeader.my_plan1 {
      background: rgb(105, 153, 193);
      border-bottom: thick solid rgb(72, 109, 139);
  }

  /* --- Plan 2 --------------------------- */
  .my_plan2 {
      background: rgb(230,235,218);
  }

  .my_planHeader.my_plan2 a {
      background: rgb(108, 131, 62);
      color:white;
  }

  .my_planHeader.my_plan2 {
      background: rgb(134, 162, 77);
      border-bottom: thick solid rgb(108, 131, 62);
  }

  /* --- Plan 3 --------------------------- */
  .my_plan3 {
      background: rgb(254,235,212);
  }

  .my_planHeader.my_plan3 a {
      background: rgb(199, 127, 40);
      color:white;
  }

  .my_planHeader.my_plan3 {
      background: rgb(253, 161, 49);
      border-bottom: thick solid rgb(199, 127, 40);
  }




  .my_planFeature {
      text-align: center;
      font-size: 2em;
  }

  .my_planFeature i.my_check {
      color: green;
  }

.registerDiv {
      width: 30%;
      margin: 0 auto;
}





/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Josefin Sans Light'), local('JosefinSans-Light'), url(https://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04zxLwFvNxpkIoVzlXSkPSYkA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Josefin Sans Light'), local('JosefinSans-Light'), url(https://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z04GofcKVZz6wtzX_QUIqsI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5j0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
