<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container" ng-controller="ConsultationControleur">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6 my_planHeader my_plan1">
                    <div class="my_planTitle">Titre</div>
                </div>
                <div class="col-xs-6 my_planHeader my_plan2">
                    <div class="my_planTitle">Date</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 headerChoices">
        JE SUIS LE HEADER DES CHOIX
    </div>
    <div class="row my_featureRow">
        <div class="col-xs-12 col-sm-4 my_feature">
            Arnaud
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                    <i class="fa fa-check my_check"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                    <i class="fa fa-check my_check"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                    <i class="fa fa-check my_check"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row my_featureRow">
        <div class="col-xs-12 col-sm-4 my_feature">
            Clément
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                    <i class="fa"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                    <i class="fa fa-check my_check"></i>
                </div>
                <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                    <i class="fa fa-check my_check"></i>
                </div>
            </div>
        </div>
    </div>
</div>
