<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container" ng-controller="ConsultationControleur" class="fade">


          <h1 style="width:100%;text-align:center">{{titleSurvey}}</h1>
          <h2  style="width:100%;text-align:center" >Sondage du {{dateSurvey}}</h2>
  <table style="width:100%">
    <thead>
      <tr>
        <th width="30%">
        </th>
        <th  ng-repeat="choice in listChoice track by $index">
          {{choice.chTitle}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reponse in listReponse" >
        <td width="30%">
                {{reponse.reNameparticipant}}
        </td>
        <td ng-repeat="choice in listChoice" ng-class=" reponse.chIdchoice == choice.chIdchoice ? 'check' : 'uncheck'" >
              <i ng-if="reponse.chIdchoice == choice.chIdchoice && !reponse.canEdit" class="fa fa-check my_check ichecked" ></i>
              <input ng-if="reponse.canEdit" type="checkbox" class="chkBoxGroupEdit" value="reponse.chIdchoice"
               ng-checked="reponse.chIdchoice == choice.chIdchoice"
               ng-click="editResponse(reponse.reIdresponse, choice.chIdchoice, reponse.reNameparticipant)" />
        </td>
      </tr>

      <tr ng-if="!isInEdition">
        <td>
          <input type="text" name="nameUser"  placeholder="Saissez votre nom pour voter"
                 style="text-align:center;color:#000;width:100%;"
                 ng-model="user.name" ng-change="enableChkbox()"          />
        </td>
        <td ng-repeat="choice in listChoice track by $index" class="emptycheck">
            <input type="checkbox" class="chkBoxGroup "value="{{choice.chIdchoice}}" disabled="true">
        </td>
      </tr>
    </tbody>
  </table>



    <div class="registerDiv" ng-if="user.name.length > 0 && !isInEdition && canEdit">
      <input type="email" name="editEmail" class="emailregister" ng-if="canEdit" placeholder="Saisissez votre mail pour enregistrer" ng-model="user.email"/>
      <button class="btn-primary btnRegister" type="button" name="buttonSave" ng-click="onClickRegister()">Enregistrer</button>
    </div>
    <h2 ng-if="!canEdit">Vous ne pouvez pas editer ce sondage.</h2>
</div>
