<div class="container edition" ng-controller="EditionControlleur" class="fade">
  <div class="form-group creationInput row">
    <label for="inputPassword3" class="col-sm-3 createLabel" >Votre pseudo</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-model="userName" style="color:#000;width:100%" placeholder="Pseudo"/>
    </div>
  </div>
  <div class="form-group creationInput row">
    <label for="inputPassword3" class="col-sm-3 createLabel" >Votre email</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-model="userMail"  style="color:#000;width:100%" placeholder="Email"/>
    </div>
  </div>
  <div class="form-group creationInput row">
    <label for="inputEmail3" class="col-sm-3 createLabel">Titre du sondage</label>
    <div class="col-sm-6">
      <input   class="form-control" ng-model="inputTitle" placeholder="Titre du sondage">
    </div>
  </div>
  <div class="form-group creationInput row">
    <label for="inputPassword3" class="col-sm-3 createLabel">Description</label>
    <div class="col-sm-6">
      <textarea  class="form-control"   placeholder="Description"   ng-model="inputDescription"></textarea>
    </div>
  </div>
  <div class="form-group creationInput row">
    <label for="inputPassword3" class="col-sm-3 createLabel"  >Date Expiration</label>
    <div class="col-sm-6">
      <input type="datepicker" class="form-control datepicker" ng-enter="loadDatepicker()" ng-model="inputDateExpiration"  style="color:#000;width:100%" />

    </div>
  </div>
  <div class="form-group creationInput row">
    <label class="col-sm-3 createLabel">Type de choix:</label>
    <div class="col-sm-6">
      <div class="radio">
        <label>
          <input type="radio" ng-model="inputTypeSurvey" ng-value="1" checked />
          Sondage
        </label>
        <label>
          <input type="radio" ng-model="inputTypeSurvey" ng-value="2"/>
          Rendez-vous
        </label>
      </div>
    </div>
  </div>
  <div class="form-group creationInput row">
    <label class="col-sm-3 createLabel">Option de mailing</label>
    <div class="col-sm-6">
      <div class="checkbox">
        <div class="checkbox">
        <label>
          <input type="checkbox"ng-model="bEmailOnParticipe" ng-true-value="1" ng-false-value="0" >Email à chaque nouveau participant
        </label>
      </div>
        <div class="checkbox">
        <label>
          <input type="checkbox"ng-model="bEmailOnReponse" ng-true-value="1" ng-false-value="0" >Email à chaque nouvelle réponse
        </label>
      </div>

        <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="bVoteEditable" ng-true-value="1" ng-false-value="0">Les participants peuvent modifier leurs votes
        </label>
      </div>

        <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="bResultPublic" ng-true-value="1" ng-false-value="0">Les résultats du sondage sont publiques
        </label>
      </div>
      </div>
    </div>
  </div>
  <div class="form-group creationInput row">
    <div class="col-sm-9">
      <button type="submit" style="width:100%;font-size: 21px;" ng-click="creationSuite()" class="btn btn-primary">Create</button>
    </div>
  </div>

</div>
