<div class="container" ng-controller="HomeCtrl">
  <div class="centerDiv" style="visibility: visible; text-align:center;">
    <h2 class="centerText menuSubText">Gérer vos Sondage & prise de rendez-vous plus simplement que jamais.</h2>
  </div>
  <div class="btnContainer">
    <button class="button fab-center  btnCreateSurvey" ng-click="createForm()">
      Créer un survey
    </button>
    <button class="button fab-center  btnAccessSurvey">
      Accèder survey existant
    </button>
  </div>
</div>
